

.todo-list {
   list-style: none;
   width: 450px;
   text-align: left;
}

.todo-list .todo {
   color: inherit;
   cursor: pointer;
   padding: 10px 5px;
   box-shadow: 0px 2px 4px 1px lightgrey;
   background-color: beige;
   margin-top: 8px;
}

.todo-list .todo:hover {
   outline: 1px solid dodgerblue;
}

.todo-list .todo.completed {
   color: lightgrey;
   text-decoration: line-through;
}

.todo-form {
   width: 450px;
   display: flex;
   justify-content: space-between;
   margin-bottom: 5px;
}